/* FONTS */
/* montseratt */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box;
	border-radius: 0px;
	text-decoration: none !important;
}

button {
	border: none !important;
	background-color: transparent;
}

body {
	/* background-image: url(img/black_unity_wallpaper.png); */
	font-family: 'Montserrat', sans-serif;
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
	display: none; /* Safari */
}

/* main code */
#qrcode {
  width: 256px;
  height: 256px;
  margin-top: 15px;
}